@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 210 40% 98%;

		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--ring: hsl(212.7, 26.8%, 83.9);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@import-normalize;
@tailwind base;
@tailwind components;
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@layer components {
	.welcome {
		@apply m-2;
	}

	.ke-button {
		@apply dark:bg-nord6 p-2 rounded m-2
		hover:bg-nord2 hover:text-white dark:hover:bg-nord11;
	}

	.ke-checkbox {
		@apply appearance-none h-4 w-4 border border-gray-300 rounded-sm
			bg-white checked:bg-nord2 checked:border-white focus:outline-none
			transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain
			float-left mr-2 cursor-pointer;
	}

	.input {
		@apply border-solid border rounded border-nord1;
	}

	.sidebar-icon {
		@apply relative flex items-center justify-center 
			h-10 w-10 mt-2 mb-2 mx-auto  
			bg-nord2 hover:bg-nord11
			hover:rounded-xl rounded-3xl
			transition-all duration-300 ease-linear
			cursor-pointer shadow-lg;
	}

	.sidebar-tooltip {
		@apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
		text-nord5
		bg-nord2
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left;
	}

	.sidebar-tooltip-left {
		@apply absolute w-auto p-2 m-2 min-w-max right-14 rounded-md shadow-md
		text-nord5
		bg-nord2
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left;
	}

	.sidebar-hr {
		@apply border border-nord2 dark:border-white rounded-full
    mx-1;
	}

	.sidebar {
		@apply fixed top-0 left-0 h-screen w-16 flex flex-col
		bg-nord6 dark:bg-nord0 shadow-lg;
	}

	.top-navigation {
		@apply flex flex-row
		bg-nord4 dark:bg-nord1 bg-opacity-90
		w-full h-16;
	}

	.top-navigation-icon {
		@apply text-gray-500
		mr-3 ml-4
		transition duration-300 ease-in-out 
		hover:text-pink-400 
		cursor-pointer;
	}

	.top-navigation-icon:first {
		@apply ml-auto mr-4;
	}

	.title-hashtag {
		@apply text-lg tracking-wider font-semibold text-gray-500 
		ml-2 my-auto;
	}

	.title-text {
		@apply text-xl text-gray-500 tracking-wider font-semibold text-opacity-80 
		mr-auto ml-2 my-auto 
		transition duration-300 ease-in-out;
	}

	.content-container {
		@apply flex flex-col 
			bg-gray-300 dark:bg-gray-700
			m-0
			ml-16
			h-full w-full 
			overflow-hidden;
	}

	.content-list {
		@apply flex flex-col items-center 
			h-full w-full 
			mt-0 ml-0 mx-auto px-0 pb-12 
			overflow-y-scroll
			dark:bg-nord2 bg-nord5 dark:text-zinc-300 text-nord1;
	}

	.ke-input {
		@apply block appearance-none border border-gray-400 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500;
	}

	.ke-select {
		@apply block appearance-none py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 w-1/2;
	}
}

::-webkit-scrollbar {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	@apply bg-gray-500 dark:bg-green-400;
}

.landing {
	@apply ml-16 h-full;
}

.footer {
	@apply mb-0 flex items-center justify-center
		bg-nord4 dark:bg-nord1 dark:text-zinc-300
		text-nord1;
}
